a, a:visited {
  display: inline-block;
  color: $color__black;
  text-decoration: none;
  @include transition(0.3s);
  position: relative;

  .fas {
    @include transition(0.3s)
  }

  &:hover {
    cursor: pointer;
  }
}

button, a.button {
  
}
