//Size
$font-size__xxl: 2.22em;
$font-size__xl: 1.66em;
$font-size__l: 1.4em;
$font-size__m: 1.11em;
$font-size__s: 1em;
$font-size__xs: 0.8em;

//Family
$font-fam__base: sans-serif;
$font-fam__body: arial, serif;
$font-fam__title: arial, $font-fam__base;
$font-fam__fa-solid: 'Font Awesome 5 Pro';

//Weights
$font-weight__base: 400;
$font-weight__bold: 700;
$font-weight__x-bold: 900;

//Letter Spacing
$letter-spacing: 0.19em;
$letter-spacing-half: 0.09em;
