footer#footer {

}

.legacy-browser-notice {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9993;
  width: 100%;
  max-width: 500px;
  font-size: 1rem;
  font-weight: 400;
  color: $color__white;
  padding: 22px 30px;
  background-color: #00aadd;

  img {
    margin-bottom: 20px;
    max-width: 35px;
  }

  a {
    color: $color__white;
    font-weight: bold;
    display: inline-block;
  }

  p {
    color: $color__white;
    font-weight: normal;
    font-size: 0.875rem;
    margin-bottom: 10px;

    &.notice {
      text-transform: uppercase;
      fonr-size: 1rem;
    }
  }

  strong {
    font-weight: 700;
  }
}
